* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* top show pointer cursor in order detail table */
.showPointer {
  cursor: pointer;
}

/* .dx-widget.dx-datagrid-pager.dx-pager {
  display: block !important;
} */
