* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* top show pointer cursor in order detail table */
.showPointer {
  cursor: pointer;
}
/*hide pager from datagrid table*/
.dx-pager .dx-info {
  visibility: hidden !important;
}

.dx-pager .dx-page-indexes {
  visibility: hidden !important;
}
/* .dx-widget.dx-datagrid-pager.dx-pager {
  display: block !important;
} */
